@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@600&family=PT+Serif:wght@700&family=Poppins:wght@300;500;700&family=Roboto+Slab:wght@700&family=Roboto:wght@100;400;500;700&family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Source Sans Pro', sans-serif;
padding: 0;
margin: 0;
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.notify-section{
    width: 35%;
    margin: 0 auto;
}
/* Responsive for Mobile Device */
@media only screen and (max-width:688px) {

    #img-sec img{
        width: 350px !important; 
        height: 400px !important;
        padding-left: 15px;
    }
    .form {
     display: block;
     justify-content: center;
     align-items: center;
    }
    #income-sec{
        margin-left: 5px !important; 
    }
    #food-sec{
        margin-left: 25px !important;
    }
    #rent-sec{
        margin-left: 28px !important;
    }
    #cloth-sec{
        margin-left: 0px !important;
    }
    #calculate-btn{
        margin-left: 80px !important;
    }
    #save-sec{
        margin-left: 10px !important;
    }
    #save-btn{
        margin-top: 20px;
        margin-left: 120px !important;
    }
    
}